.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 8px;
}

.display{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}